.table {
    grid-template-columns: repeat(2, 1fr)
}
.item {
    display: grid;
    grid-template-areas:
    "p n"
    "p d";
    grid-template-columns: 1fr 6fr;
    grid-auto-rows: 1fr 2fr;
    height: 100px;
    padding-top: 10px;
    padding-left: 30px;
}
.picture {
    font-size: 100px;
    grid-area: p;
    width: 100px;
    color: black
}
.name {
    grid-area: n;
    padding-top: 25px;
    font-size: 30px;
    height: 30px;
}
.status {
    grid-area: d;
    padding-top: 10px;
    font-size: 25px;
}
.button {
    margin-left: 10px;
}
.link {
    color: black
}



